@import './base.css';


.icon {
  display: flex;
  align-self: center;
  justify-content: center;
  text-align: center;
}

.transition-all-100 {
  transition: all 100ms ease;
}

.transition-all-200 {
  transition: all 200ms ease;
}

.transition-all-300 {
  transition: all 300ms ease;
}

.transition-all-400 {
  transition: all 400ms ease;
}

.transition-all-500 {
  transition: all 500ms ease;
}

.transition-all-600 {
  transition: all 600ms ease;
}

.transition-all-700 {
  transition: all 700ms ease;
}

.transition-all-800 {
  transition: all 800ms ease;
}

.transition-all-900 {
  transition: all 900ms ease;
}

.transition-all-1000 {
  transition: all 1000ms ease;
}
